<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{/dashboard/layout}">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
</head>
<body >
<div layout:fragment="body">
    <div style="overflow-x: auto;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Number of users</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role : ${roles}">
                <td th:text="${role.id}"></td>
                <td th:text="${role.name}"></td>
                <td th:text="${#lists.size(role.users)}"></td>
                <td>

                    <form th:action="@{'/admin/roles/delete/' + ${role.id}}" method="post" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <button type="submit" onclick="return confirm('İstifadəçini silmək istədiyinizə əminsiniz?')" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i> Sil
                        </button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>