<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title>Home</title>

</head>

<body>




<div layout:fragment="content">



  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
        </ol>
      </nav>
    </div>
  </div>

  <!-- Contact Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Bizimlə əlaqə</h5>
        <h1 class="mb-5">İstənilən sual üçün əlaqə saxlayın</h1>
      </div>
      <div class="row g-4">
        <div class="col-12">
          <div class="row gy-4">
            <div class="col-md-4">
              <h5 th:text="${contactInfo.bookTitle}" class="section-title ff-secondary fw-normal text-start text-primary">Booking</h5>
              <p th:text="${contactInfo.bookingMail}"><i th:class="${contactInfo.iconUrl}" class="fa fa-envelope-open text-primary me-2"></i>book@example.com</p>
            </div>
            <div class="col-md-4">
              <h5 th:text="${contactInfo.generalTitle}" class="section-title ff-secondary fw-normal text-start text-primary">General</h5>
              <p th:text="${contactInfo.generalMail}"><i th:class="${contactInfo.iconUrl}" class="fa fa-envelope-open text-primary me-2"></i>info@example.com</p>
            </div>
            <div class="col-md-4">
              <h5 th:text="${contactInfo.technicalTitle}" class="section-title ff-secondary fw-normal text-start text-primary">Technical</h5>
              <p th:text="${contactInfo.technicalMail}"><i th:class="${contactInfo.iconUrl}" class="fa fa-envelope-open text-primary me-2"></i>tech@example.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
          <iframe  th:src="@{${contactInfo.iframeSrc}}" class="position-relative rounded w-100 h-100"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                  frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                  tabindex="0"></iframe>
        </div>
        <div class="col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <form method="post" action="/contact">
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ad">
                    <label for="name">Ad</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email ünvanı">
                    <label for="email">Email ünvanı</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Mövzu">
                    <label for="subject">Mövzu</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" name="message" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                    <label for="message">Mesaj</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit">Mesaj Göndər</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->



</div>

</body>
</html>